@import url(Font.css);
@import url(Header2.css);
@import url(Newsletter.css);
@import url(Footer.css);
body {
    width: 100%;
}

.bgimg {
    width: 100%;
}

.aboutushead {
    color: rgb(0, 0, 0);
    font-size: 157px;
    font-family: 'Lato', sans-serif;
    margin-top: -470px;
    margin-left: 660px;
    color: white;
}

.aboutusdes {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-left: 610px;
    color: white;
}

.ourstory {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 800;
    margin-left: 200px;
}

.description {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-left: 200px;
}

.rec1 {
    width: 1190px;
    height: 1px;
    background-color: #B2B7C2;
    margin-left: 350px;
}

.earthimg {
    margin-left: 350px;
}

.hotelimg {
    margin-left: 360px;
}

.trainimg {
    margin-left: 450px;
}

.cj {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 380px;
    margin-top: 20px;
}

.lh {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 869px;
    margin-top: -32px;
}

.tg {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 1329px;
    margin-top: -32px;
}

.ph1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: -910px;
}

.ph2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: -65px;
}

.ph3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 900px;
    margin-top: -70px;
}

.rec2 {
    width: 1190px;
    height: 1px;
    background-color: #B2B7C2;
    margin-left: 350px;
}